html{
	position: relative;
}
body{
	margin-bottom: 100px;
	margin-top: 30px;
}

.jumbotron img{
	width: 200px;
	border:5px solid #666;
}
hr{
	width: 250px;
	border-top: 3px solid #999;
}
section{
	min-height: 600px;
}
.pendidikan{
		background-color: #eee;
}
.jumbotron{
	background-color: #a31b1c;

}
.jumbotron h2,h4{
	color: #ffffff;
}
.organisasi{
	background-color: #eee;
}
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color:#000000 ;
	padding-top: 30px;

}
footer p{
		color: #ecf0f1;
		font-size: 0.9em;
}